<!DOCTYPE html>
<html>
<head>
  <title>ThreeOneOneGmaps</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclusterer/1.0.2/src/markerclusterer_compiled.js"></script>
</head>
<body>

  <h1><%= link_to "NYC 3-1-1 Data", home_path %></h1>

  <!-- <p id="last_update">Last Updated:</p> -->
  <nav>
      <ul>
          <li><%= link_to "Home", home_path %></li>
          <li class="spacer">/</li>
          <!-- <li><%= link_to "About", about_path %></li>
          <li class="spacer">/</li> -->
          <li><%= link_to "Visualize All", maps_all_path %></li>
          <li class="spacer">/</li>
          <li><%= link_to "Loud Music/Party", maps_party_path %></li>
          <li class="spacer">/</li>
          <li><%= link_to "Dirty Sidewalk", maps_dirty_sidewalk_path %></li>
          <li class="spacer">/</li>
          <li><%= link_to "Graffiti", maps_graffiti_path %></li>
          <li class="spacer">/</li>
          <li><%= link_to "Street Light Out", maps_street_light_path %></li>
      </ul>
  </nav>

<%= yield %>

</body>
</html>
